input_queue_size: 1
output_queue_size: 1
cloud_filter_chain:
  - name: CropBoxFilter
    type: point_cloud2_filters/CropBoxFilterPointCloud2
    params:          
      active: False
      input_frame: "base_link"
      output_frame: "base_link"
      keep_organized: True
      negative: False
      min_x: -1
      max_x: 1
      min_y: -1
      max_y: 1
      min_z: -0.1
      max_z: 4

  - name: VoxelGridFilter
    type: point_cloud2_filters/VoxelGridFilterPointCloud2
    params:
      active: true
      input_frame: "base_link"
      output_frame: "base_link"
      leaf_size_x: 0.05
      leaf_size_y: 0.05
      leaf_size_z: 0.05
      min_points_per_voxel: 0
      downsample_all_data: True
      filter_field_name: "x"
      filter_limit_min: -15
      filter_limit_max: 15
      negative: False