<launch>
    <include file="$(find ur_description)/launch/load_ur_hande.launch">
        <arg name="visual_params" value="$(find ur_description)/config/ur5e/visual_parameters_min.yaml"/>
    </include>
    <include file="$(find ur_ros_driver)/launch/full_driver.launch">
        <arg name="pub_robot_model"             value="false"/>
    </include>

    <include file="$(find azure_kinect_ros_driver)/launch/driver.launch">
        <arg name="color_enabled"               value="true"/>
        <arg name="color_resolution"            value="720P"/>
        <arg name="depth_enabled"               value="true"/>
        <arg name="depth_mode"                  value="NFOV_UNBINNED"/>
        <arg name="point_cloud"                 value="true"/>
        <arg name="rgb_point_cloud"             value="false"/>
        <arg name="fps"                         value="15"/>
        <arg name="overwrite_robot_description" value="false" />
    </include>

    <node pkg="tf2_ros" type="static_transform_publisher" name="k4a_link" args="-0.18408162 -0.59068343 1.85925519 -0.00450478 0.9378159 -0.34707718 0.0042993 rgb_camera_link base_link" />
    <node name="robot_filter" pkg="sensor_filters" type="pointcloud2_filter_chain" launch-prefix="bash -c 'sleep 1; $0 $@' " output="screen">
        <rosparam command="load" file="$(find idmp_ros)/config/kinectFilterChain.yaml" />
        <remap from="~input" to="/points2" />
        <remap from="~output" to="points_filt" />
    </node>
    <rosparam file="$(find idmp_ros)/config/params_live.yaml" />
    <node pkg="idmp_ros" type="idmp" name="idmp_ros" output="screen" respawn="true"/>
</launch>